/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}

/* Temp Line Split*/
.split-line {
	size: 5;
	color: 'black';
	width: 100%;
}


/* Narrow Column */
.content-column {
	max-width: 65%;
	margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
	align-self: center;

}

/*------------ Metric Bar ------------- */

/* Flex Box */
.flex-container {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}

/* Metric Definitions */
.metric-holder {
	border: 5px solid black;
	text-align: center;
	position: relative;
}

.metric-text-title {
	fill: rgb(255, 255, 255);
	font-weight: bold;
}

.metric-text {
	fill: rgb(255, 255, 255);
}

.metric-holder .metric-tool-tip {
	visibility: hidden;
	width: 250px;
	background-color: black;
  	color: #fff;
  	text-align: center;
  	border-radius: 6px;
  	padding: 5px 0;

  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
  	top: 115%;
  	left: 50%;
  	margin-left: -90px;
}

.metric-holder .metric-tool-tip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 40%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;}

.metric-holder:hover .metric-tool-tip{
  visibility: visible;
}

/*----------- Visulations -----------*/

/* -- pie -- */

#pie {
	display: block;
	margin: auto;
}

/* -- bump -- */

.click-active, .active {
  opacity: 1.0;
  stroke-opacity: 1.0;
  z-index: 1000;
  /*r: 8;*/
}

path.click-active {
  stroke-width: 3.0;
}

path.active {
  stroke-width: 3.0;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.x.axis path {
  
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}


.aave {
  fill: #AF2626;
  stroke: #0A174A;
}
.ada {
  fill: #91022D;
  stroke: #85B7EA;
}
.atom {
  fill: #FFDB00;
  stroke: #000000;
}
.bnb {
  fill: #DD0000;
  stroke: #000000;
}
.btc {
  fill: #CF0032;
  stroke: #07175C;
}
.cro {
  fill: #F36600;
  stroke: #85b7EA;
}
.doge {
  fill: #00245D;
  stroke: #FFD200;
}
.dot {
  fill: #122089;
  stroke: #7A878F;
}
.eos {
  fill: #0A2141;
  stroke: #D80016;
}
.eth {
  fill: #6CADDF;
  stroke: #00285E;
}
.link {
  fill: #FFFFFF;
  stroke: #D50031;
}
.ltc {
  fill: #633492;
  stroke: #FDE192;
}
.miota {
  fill: #B18500;
  stroke: #348AE1;
}
.sol {
  fill: #004812;
  stroke: #EBE72B;
}
.trx {
  fill: #F2D11A;
  stroke: #A50531;
}
.uni {
  fill: #0051BA;
  stroke: #000000;
}
.usdc {
  fill: #4F8A10;
  stroke: #11568C;
}
.usdt {
  fill: #91B0D5;
  stroke: #002B5C;
}
.wbtc {
  fill: #D80016;
  stroke: #313F49;
}
.xem {
  fill: #12264C;
  stroke: #85B7EA;
}

.xlm { 
  fill: #092C5C;
  stroke: #8FBCE6;
}
.xmr {
  fill: #0077C8;
  stroke: #FFD100;
}
.xrp {
  fill: #FFF;
  stroke: #0A2141;
}

/* -- table -- */

#info-table {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4em;
  font-style: normal;
  border-collapse: collapse;
  border-spacing: 0.7rem;
  width: 30%;
}

#info-table th, td{
	border: 1px solid black; 
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}


#info-table tbody{
  background-color: #ffffff; 
}

#info-table tbody tr:nth-child(even){
	background-color: #99ccff; 
}
#info-table thead{
  background-color: #3399ff;
  color: #ffffff;
}

#info-table thead tr:nth-child(odd){
  ..background-color: #ffffff;

}

#info-table: hover {
  background-color: yellow;
}
.upGreenArrow{
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 4.5px 12px 4.5px;
   border-color: transparent transparent #00ff00 transparent;
}
  
.downRedArrow{
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 12px 4.5px 0 4.5px;
   border-color: #ff0000 transparent transparent transparent;
}

.upArrow{
  position: relative;
  top: -15px;
  left: -10px;
  width:0;
  height:0;
  border: 6px solid transparent;
  border-bottom-color: #00ff00;
}
.upArrow:after{
  position: absolute;
  content: '';
  top: 20px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: #00ff00;
}

.downArrow{
  position: relative;
  top: 18px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #ff0000;
}
.downArrow:after{
  position: absolute;
  content: '';
  top: -15px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: #ff0000;
}


/* d3 candle stick start */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    fill: black;
}

/* d3 candle stick end */