/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}

/* Temp Line Split*/
.split-line {
	size: 5;
	color: 'black';
	width: 100%;
}


/* Narrow Column */
.content-column {
	max-width: 65%;
	margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
	align-self: center;

}

/*------------ Metric Bar ------------- */

/* Flex Box */
.flex-container {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}

/* Metric Definitions */
.metric-holder {
	border: 5px solid black;
	text-align: center;
	position: relative;
}

.metric-text-title {
	fill: rgb(255, 255, 255);
	font-weight: bold;
}

.metric-text {
	fill: rgb(255, 255, 255);
}

.metric-holder .metric-tool-tip {
	visibility: hidden;
	width: 250px;
	background-color: black;
  	color: #fff;
  	text-align: center;
  	border-radius: 6px;
  	padding: 5px 0;

  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
  	top: 115%;
  	left: 50%;
  	margin-left: -90px;
}

.metric-holder .metric-tool-tip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 40%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;}

.metric-holder:hover .metric-tool-tip{
  visibility: visible;
}

/*----------- Visulations -----------*/

/* -- pie -- */

#pie {
	display: block;
	margin: auto;
}

/* -- bump -- */

.click-active, .active {
  opacity: 1.0;
  stroke-opacity: 1.0;
  z-index: 1000;
  /*r: 8;*/
}

path.click-active {
  stroke-width: 3.0;
}

path.active {
  stroke-width: 3.0;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.x.axis path {
  
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}


.united-states {
    fill: blue;
    stroke: blue;
}

.mexico {
    fill: green;
    stroke: green;
}

.canada {
    fill: red;
    stroke: red;
}

.china {
    fill:  yellow;
    stroke: yellow;
}

/* -- table -- */

#info-table {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4em;
  font-style: normal;
  border-collapse: collapse;
  border-spacing: 0.7rem;
  width: 30%;
}

#info-table th, td{
	border: 1px solid black; 
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}


#info-table tbody{
  background-color: #ffffff; 
}

#info-table tbody tr:nth-child(even){
	background-color: #99ccff; 
}
#info-table thead{
  background-color: #3399ff;
  color: #ffffff;
}

#info-table thead tr:nth-child(odd){
  ..background-color: #ffffff;

}
