/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}

/* Temp Line Split*/
.split-line {
	size: 5;
	color: 'black';
	width: 100%;
}


/* Narrow Column */
.content-column {
	max-width: 65%;
	margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
	align-self: center;

}

/*------------ Metric Bar ------------- */

/* Flex Box */
.flex-container {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}

/* Metric Definitions */
.metric-holder {
	border: 5px solid black;
	text-align: center;
}

.metric-text-title {
	fill: rgb(255, 255, 255);
	font-weight: bold;
}

.metric-text {
	fill: rgb(255, 255, 255);
}

/*----------- Visulations -----------*/

#pie-and-bump {
	float: left;
	width: 50%;
	justify-content: center;
	fill: rgb(255, 0, 0);
}

#info-table {
	float: right;
	width: 50%;
	align-items: center;
	fill: rgb(0, 0, 255);
}
